# This playbook executes all of the playbooks in the 'playbooks' directory.
---
- name: === TEST CONNECTION ===
  hosts: cisco
  gather_facts: false
  tasks:
    - name: Ping device
      ansible.builtin.ping:

- name: === RUN ALL ROLES ===
  hosts: cisco
  gather_facts: false

  roles:
    - get_info
    # - get_run_config
    - tftp_backup

...
