#SPDX-License-Identifier: MIT-0
---
- name: Get Running Config
  cisco.ios.ios_command:
    commands:
      - show running-config
  register: running_config

- name: Save Running Config in a variable
  ansible.builtin.set_fact:
    device_running_config: "{{ running_config.stdout[0] }}"

...